{% extends "blog/layout.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Django Template <sup>by AskDjango</sup></h1>
        <p>여러분의 파이썬/장고 페이스메이커가 되겠습니다.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="http://facebook.com/groups/askdjango">
                AskDjango 페이스북 그룹 &raquo;
            </a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <a href="{% url "blog:post_new" %}" class="btn btn-primary pull-right">new Post</a>

        <p>
        <form action="" method="get">
            <input type="text" name="q" value="{{q}}"/>
            <input type="submit" value="검색" class="btn btn-primary">
        </form>
        </p>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>img</th>
                <th>id</th>
                <th>title</th>
                <th>author</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% for post in post_list %}
            <tr>
                {% if post.photo %}
                <td class="col-sm-1"><img src="{{ post.photo_thumbnail.url }}" style="max-width: 100%"/></td>
                {% else %}
                <td class="col-sm-1"><img src="/media/flower.jpg" style="max-width: 100%"/></td>
                {% endif %}
                <td>{{ post.id }}</td>
                <!--<a href="/blog/{{post.id}}">-->
                <td><a href="{% url "blog:post_detail" post.id %}">
                    {{ post.title }}
                    </a>
                </td>
                <td>
                    <small>by {{post.author}}</small>
                </td>
                <td>
                    <small>at {{post.updated_at}}</small>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
